@import "tailwindcss";

/* Light mode */
:root {
  --background: #f2f4f8;
  --foreground: #171717;
  --secondary: #e5e7eb;
  --primary: #9c27b0;
  --primary-foreground: #ffffff;
}

/* Map variables to Tailwind classes via CSS custom properties */
.bg-primary {
  background-color: var(--primary);
}
.bg-primary-foreground {
  background-color: var(--primary-foreground);
}
.bg-secondary {
  background-color: var(--secondary);
}
.bg-secondary-foreground {
  background-color: var(--secondary-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, Arial, Helvetica, sans-serif);
}
